/***************! Importing FONTS ***************/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap');

/***************! Apply Border-Box Property ***************/
* {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/***************! HTML ***************/
body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: white;
    font-family: 'Chivo Mono', monospace;
}


a {
    text-decoration: none;
    color: rgb(200, 200, 200);
}



a:hover {
    color: rgb(255, 255, 255);
}

a:active {
    color: rgb(171, 171, 171);
}

.navbar .name a,
.section-4 .footer-name a {
    color: rgb(255, 255, 255);
}

.navbar .name a:hover,
.section-4 .footer-name a:hover {
    color: rgb(200, 200, 200);
}

.name a{
    cursor: default;
}

/***************! Section-1 ***************/
.section-1 {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: black;
}

/*****! Navbar *****/

.navbar {
    padding: 5% 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .profile-pic{
    margin-right: -90px;
}

.navbar .name {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 22px;
    
}

.navbar .navbar-sections {
    display: flex;
    gap: 30px;
}

.navbar .navbar-call-to-action {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 22px;
}

.navbar .navbar-call-to-action a {
    padding: 20px 30px;
    border-radius: 10px;
    color: black;
    background-color: #FBE850;
}

/*****! Introduction *****/
.introduction {
    padding: 7% 5% 20% 0;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.introduction .title {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 52px;
}

.introduction .description {
    line-height: 28px;
}


.intro-body {
    display: flex;
    align-items: center;
    gap: 100px;
}

/***************! Background Image ***************/
.background-img {
    height: 486px;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    background-image: url(Assets/cacao_and_coffee_shop.gif);

}


/***************! Section-2 ***************/
.section-2 {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.section-2 .title {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 42px;
    padding-top: 4%;
}

/*****! projects *****/
.section-2 .project {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.section-2 .project-thumbnail img {
    width: 800px;
    border-radius: 32px;
    border: solid white 2px;
}


.section-2 .project-description {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 32px;
    display: flex;
    align-items: center;
    gap: 15px;
}


.section-2 .project-description a {
    color: white;
    height: 45px;
}

.section-2 .project-description a:hover{
    color: rgb(200, 200, 200);
}




/***************! Section-3 ***************/
.section-3 {
    height: 335px;
    width: 100%;
    padding-top: 4%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #c3c3c3;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: black;

}

.section-3 .question {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 42px;
}

.section-3 .call-to-action {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 22px;
    margin-top: 25px;
}

.section-3 .call-to-action a {
    padding: 20px 30px;
    border-radius: 10px;
    color: black;
    background-color: #FBE850;
}


/***************! Section-4 ***************/
.section-4 {
    height: 90px;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #2E3038;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-4 .name {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 22px;
}

.section-4 .footer-socials {
    display: flex;
    gap: 20px;
}